[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
tconnectsync = {git = "https://github.com/jwoglom/tconnectsync.git", ref = "7c4b2f4ddb560835c227aa75edd7dc3b57740d37"}
flask-apscheduler = {git = "https://github.com/viniciuschiele/flask-apscheduler"}
gunicorn = "*"
setuptools = "*"

[requires]
python_version = "3.13"

[scripts]
web = "gunicorn app:app"
